<h1>Add A New toy</h1>

<form action="<%= toys_path %>" method ="POST">

  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" /> 

    <label for="name">Name</label>
    <input type="text" name="toy[name]" id="name"   />

    <label for="date">Date created</label>
    <input type="date"  name="toy[date]" id="date"   />

    <label for="user">User</label>
    <input type="text" name="toy[user]" id="user"   />

   <input type="submit" value="Create New Toy"/>

</form> 
    

